# emacs
*~
.#*#

# working files
*.log
*.tar.gz
*.tgz
*.tar.xz
*.txz
*.zip
*.tar
.attic/**

# pandoc, mdx.ts generation
*.gpp.md*.pdf
*.gpp.md*.html
*.gpp.md*.docx
*.mdx.js
*.md

# yaml2vcf
*.contact.yaml.vcf

# customized versions for various postings and recruiters
out/**
